<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-dark" href="#">DAILY JOURNAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="theme-button nav-link" type="button" name="themeButton"><i class="fa-solid fa-circle-half-stroke fa-2x text-dark"></i></a>
        </li>
        <li class="nav-item">
          <a id="home" class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house fa-2x text-dark"></i></a>
        </li>
        <li class="nav-item">
          <a id="about" class="nav-link" href="/about"><i class="fa-solid fa-ring fa-2x text-dark"></i></a>
        </li>
        <li class="nav-item">
          <a id="contact" class="nav-link" href="/contact"><i class="fa-solid fa-envelope fa-2x text-dark"></i></a>
        </li>
        <li class="nav-item">
          <a id="compose" class="nav-link" href="/blogs/compose"><i class="fa-solid fa-circle-plus fa-2x text-dark"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
